.header-contacts__phone-number-accord.active {
  top: 30px;
}

.status-msg {
  position: fixed;
  z-index: 999;
  top: 30px;
  left: 50%;
  background-color: #ffb015;

  padding: 10px 30px;
  transform: translate(-50%, -50%);
  transition: 0.5s;
}

.header-contacts__phone-number-accord.active a {
  opacity: 1;
}

.header-contacts__arrow.active img {
  transform: rotate(180deg);
}

.nav-list-popup-repair {
  transition: 0s !important;
}

.tablet-hide .formula-item {
  z-index: 2 !important;
}

.tablet-hide .formula-item-popup {
  z-index: 3;
}

.tablet-hide .formula-item-popup::before {
  z-index: 4 !important;
}

.tablet-hide .formula-item-popup .popup__text {
  display: inline-block;
  margin: 0;
  padding: 20px 40px 0 40px;
  font-style: normal;
  font-weight: 300;
  line-height: 25px;
  font-size: 19px;
  text-align: justify;
  z-index: 5;
}

.tablet-hide .formula-item-popup.rotate {
  padding-top: 40px;
  visibility: visible;
  opacity: 1;
}

.tablet-hide .formula-item-popup.rotate:before {
  transform: rotate(180deg);
}

.tablet-hide .formula-item-popup.rotate .popup__text {
  padding-top: 40px;
}

.tablet-hide .formula-item.primary {
  z-index: 3 !important;
}

.tablet-hide .formula-item__icon:hover .formula-item__icon-inner {
  opacity: 1;
}

.formula-slider-wrap {
  position: relative;
  overflow: hidden;
  min-height: 450px;
}

.formula-slider {
  display: flex;
  margin-top: -20px !important;

  min-height: 410px !important;
}

.formula-item.formula-slider__slide {
  flex: 0 0 33% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  margin: auto 0 !important;
  top: -19px;
}

.formula-item.formula-slider__slide.active {
  opacity: 1;
}

.formula-item.formula-slider__slide.active .formula-item__icon-inner {
  background: linear-gradient(90deg, #f48922 0, #ffb015 100%);
}

.formula-item.formula-slider__slide.active .formula-item-popup {
  visibility: visible;
  opacity: 1;
  top: 118px;
}

.formula-slider .formula-item-popup-05 {
  min-height: 225px;
}

#formula-arrow_left {
  left: 0 !important;
}

#formula-arrow_right {
  right: 0 !important;
}

.problems .problems-item__icon:hover .svg-wrap {
  transform: rotate(45deg);
}

.problems .problems-item__icon:hover .problems-item__icon-inner {
  opacity: 1;
}

.problems .problems-item__icon:hover .problems-item-popup {
  visibility: visible;
  opacity: 1;
}

.rotate.problems-item-popup:before {
  content: "";
  transform: rotate(180deg) !important;
}

.rotate.problems-item-popup-1:before {
  content: "";
  transform: rotate(0) !important;
}

.wrapper {
  overflow: hidden;
}

.partners-slider {
  display: flex;
  flex-direction: row !important;
}

.partners-slider__slide {
  max-width: 100% !important;
  flex: 0 0 33%;
}

@media (max-width: 1090px) {
  .transparency-slider-wrap {
    display: flex;
    overflow: hidden;
  }

  .transparency-slider.row {
    display: flex !important;
    flex-wrap: inherit !important;
  }

  .transparency-item {
    flex: 0 0 100% !important;
  }
}

@media (max-width: 1024px) {
  .problems-item.problems-slider__slide {
    opacity: 0;
  }

  .problems-item {
    transition: 0s !important;
  }

  .problems-item.problems-slider__slide.active-item {
    opacity: 1;
  }

  .transparency-item {
    flex: 0 0 54% !important;
  }
}

@media (max-width: 575px) {
  .formula-slider {
    transform: translateX(-100%);
  }

  .formula-item.formula-slider__slide {
    flex: 0 0 100% !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    margin: auto 0 !important;
    top: -19px;
  }

  .formula-slider .formula-item-popup-05:before {
    top: -61px;
  }

  .partners-slider__slide {
    flex: 0 0 100%;
  }

  .transparency-item {
    flex: 0 0 36% !important;
  }
}
